@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@500&display=swap');

body{
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=
		Header CSS 
 =-=-=-=-=-=-=-=-=-=-=-=-= */

.veer-header{
	background: transparent;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.veer-nav ul{
	display: flex;
	justify-content: flex-end;
}
.veer-nav ul li a{
	color: #fff;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	padding: 0 20px;
}
.veer-menu-icons{
	display: none;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=
		Banner CSS 
 =-=-=-=-=-=-=-=-=-=-=-=-= */
.veer-banner{
	background: url('../images/24.png');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.veer-banner-text{
	text-align: center;
}
.veer-banner-text em{
	color: #fff;
	font-size: 30px;
}
.veer-banner-text h1{
	color: #fff;
	font-size: 70px;
	font-weight: 700;
}
.veer-banner-text h1 span{
	font-weight: 400;
	font-style: italic;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=
		About CSS 
 =-=-=-=-=-=-=-=-=-=-=-=-= */
.veer-about{
	padding: 120px 0;
	background: #f2f6fa;
}
.veer-about-text{}
.veer-about-text em{
	color: #252525;
	font-size: 30px;
}
.veer-about-text h2{
	color: #252525;
	font-size: 35px;
	font-weight: 600;
}
.veer-about-text p{
	color: #252525;
	font-size: 14px;
}
.veer-about-text a{
	background: #3d9cd8;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 25px;
	display: inline-block;
	margin-top: 20px;
}

.veer-about-img{
	position: relative;
}
.veer-about-img img{
	z-index: 99;
	position: relative;
}
.veer-about-img:before{
	content: '';
	display: block;
	width: 208px;
	height: 90px;
	border: 10px solid #bddcf0;
	position: absolute;
	top: -30px;
	left: -30px;
}

.veer-about-img:after{
	content: '';
	display: block;
	width: 125px;
	height: 90px;
	border: 10px solid #bddcf0;
	position: absolute;
	bottom: -30px;
	right: -30px;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=
		Service CSS 
 =-=-=-=-=-=-=-=-=-=-=-=-= */

.veer-service{
	background: #ffffff;
	padding: 120px 0;
}
.veer-title{
	width: 70%;
	margin: 0 auto 50px;
	text-align: center;
}
.veer-title h2{
	font-weight: 700;
	font-size: 35px;
	color: #252525;
	text-transform: capitalize;
	display: inline-block;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.veer-title h2:before{
	content: '';
	display: block;
	width: 120px;
	height: 2px;
	background: #009cff;
	position: absolute;
	bottom: 0;
	left: 20%;
}

.veer-title h2:after{
	content: '';
	display: block;
	width: 120px;
	height: 2px;
	background: #85d0ff;
	position: absolute;
	bottom: -5px;
	left: 40%;
}

.veer-title p{
	font-size: 14px;
	color: #252525;
}

.veer-service-items{
	text-align: center;
}
.veer-service-items img{
	margin: 0 auto 15px;
}
.veer-service-items h5{
	color: #3f3f3f;
	font-size: 16px;
	font-weight: 700;
}

.veer-service-items p{
	color: #3f3f3f;
	font-size: 14px;
}